.clip {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip1 .loader {
    width: 300px;
    height: 60px;
    border: 7px solid #0a3d62;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    position: relative;
    overflow: hidden;
}

.clip1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
}

.clip1 .top-half {
    color: #ee5253;
    animation: split 4s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.clip1 .bottom-half {
    color: #0a3d62;
    animation: split 4s linear infinite reverse;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

@keyframes split {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.clip.clip2 {
    background-color: #2f2f2f;
    height: 800px;
}

.clip2 .wave {
    position: relative;
    width: 500px;
    height: 500px;
}

.clip2 h2 {
    position: absolute;
    text-align: center;
   // line-height: 500px;
    font-size: 170px;
    text-transform: uppercase;
}

.clip2 h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.clip2 h2:nth-child(2) {
    color: #03a9f4;
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0% {
        clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
    }
}
.clip.clip3 {
    background-color: #555;
    height: 900px;
}
.clip3 .container {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #222;
}

.clip3 .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.clip3 .clip1 {
    background: url(clip1.jpg) center;
    background-size: cover;
    clip-path: polygon(0 0, 17% 0, 49% 100%, 0% 100%);
}

.clip3 .clip2 {
    background: url(clip2.jpg) center;
    background-size: cover;
    clip-path: polygon(13% 0, 81% 0, 59% 100%, 36% 100%);
}

.clip3 .clip3 {
    background: url(clip3.jpg) center;
    background-size: cover;
    clip-path: polygon(79% 0, 100% 0, 100% 100%, 59% 100%);
}

.clip3 .container:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.clip3  .container .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.clip4.clip{
    height: 500px;
}

.clip4 .card {
    width: 500px;
    height: 250px;
    background-color: #c7ecee;
    padding: 20px 80px 20px 20px;
    border-radius: 10px;
    transition: all 0.5s;
    clip-path: circle(7% at 93% 20%);
}

.clip4 h1 {
    margin-bottom: 20px;
}

.clip4 p {
    font-size: 18px;
}

.clip4 .card:hover {
    clip-path: circle(70%);
}
.clip.clip5 {
    background-color: #c8d6e5;
    height: 500px;
}
.clip5 .main {
    position: relative;
    width: 800px;
}

.clip5 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 220px;
    text-transform: uppercase;
}

.clip5 h1:nth-child(2) {
    color: white;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    background-color: #c8d6e5;
}

.clip5 h1:nth-child(2):hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.clip5 h1:nth-child(1):hover ~ h1 {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}
.clip.clip6{
    height: 600px;
}
.clip6 .card {
    position: relative;
    width: 335px;
    height: 500px;
}

.clip6 .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    clip-path: circle(70.7% at 50% 50%);
}

.clip6 img {
    width: 100%;
}

.clip6 .card:hover .img {
    clip-path: circle(18.2% at 50% 38%);
}

.clip6 .content {
    position: absolute;
    left: 0;
    bottom: 50px;
    text-align: center;
}

.clip6 h2 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.clip6 p {
    margin-bottom: 25px;
    font-size: 16px;
    text-transform: capitalize;
}

.clip6 a {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-transform: capitalize;
}

.clip6 h2,
.clip6 p,
.clip6 a {
    opacity: 0;
    transition: 0.3s;
    transform: translateY(20px);
}

.clip6 .card:hover h2,
.clip6 .card:hover p,
.clip6 .card:hover a {

    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}
.clip.clip7{
    height: 600px;
}

.clip7 .card {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: black
}

.clip7 .content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.clip7 h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.clip7 p {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.clip7 a {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    text-transform: capitalize;
}

.clip7 a:hover {
    color: black;
    background-color: white;
}

.clip7 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.clip7 img:hover {
    clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0% 100%);

}

.clip.clip8{
    height: 600px;
}
.clip8 ul {
    margin: 0;
    padding: 0;
}

.clip8 li {
    position: relative;
    list-style: none;
    margin: 10px 0px;
    overflow: hidden;
}

.clip8 a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 60px;
    font-weight: 900;
    text-decoration: none;
    color: transparent;
}

.clip8 a:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #262626;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.25s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.clip8 a:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #262626;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.25s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

.clip8 a:hover:before {
    color: rgb(160, 0, 0);
    transform: translate(10px, -3px);
}

.clip8 a:hover:after {
    color: rgb(160, 0, 0);
    transform: translate(-10px, 3px);
}

.clip8 li:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #262626;
    left: -100%;
    transition: 0.5s;
}

.clip8 li:hover:before {
    left: 100%;
}

.clip.clip9 {
    background: #222;
}
.clip9 a {
    position: relative;
    width: 180px;
    height: 60px;
}

.clip9 a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #4834d4;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.clip9 span:nth-child(2) {
    background-color: white;
    color: #4834d4;
    transition: 0.5s;
    clip-path: polygon(61% 0, 100% 0%, 100% 100%, 60% 100%, 40% 52%);
}

.clip9 span:nth-child(2):hover {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 53%);

}

.clip9 span:nth-child(1):hover ~ span {
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);

}
